
body{
  overflow-x: hidden;
  

}


.nav{
    
   
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    
   

}


ul{
    
    justify-content: space-around;
}


li{
    list-style: none;
    margin-right: 35px;
}


a{
    text-decoration: none;
}

.name{
 padding: 5px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: bolder;
 font-size: medium;
 color: #ffffff;
}
.name:hover{
    color: #00A19D;
}

.navbar{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: bold;
    margin: 25px;
    text-align: center;
    color: #ffffff;  
}
#li:hover{
    color: #A45D5D;
}


.mem{
    animation-name: opa;
    animation-duration: 4s;
    height: auto;

}
.t{
    color: #FFC069;
    margin-top:3em;
    margin-left: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: bold;
    animation-name: t;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
  @keyframes t {
    from{
     margin-left: 0px;
    }
    to{
      margin-left: 98px;
    }
}

.title{
    color: #FFC069;
    margin-top: -1em;
    margin-left: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 95px;
    font-weight: bold;
    animation-name: tl;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    
    
    
}

.title:after {
    color: #FD6F96;
    content: "Isaac Dasari";
  }

  @keyframes tl {
    from{
     margin-left: 0px;
     opacity: 0;
     
    }
    to{
      margin-left: 95px;
      opacity: 100%;
    }
}

  .txt{
    color: #F7F6F2;
    overflow: hidden;
    margin-top: -3.9em;
    margin-left: 4em;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 18.5px;
    animation: typing 3.5s steps(30, end) infinite, blinking-cursor .5s step-end infinite;
    white-space: nowrap;
    border-right: .17em solid pink;/* The typewriter cursor */
  }

  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 60%
    }
  }
  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: pink;
    }
  }
  

  .txt-area{
    margin-top: -6em;
    margin-left: 41.65em;
    height: 50%;
    width: auto;
    float: rigth;
   
  border-top-left-radius:100%;

  background-size: 200% 200%;
   border-bottom-right-radius: 30px;
  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

  .pic{
     margin-top: -20em;
     position: relative;
     top: auto;
     
     height: auto;
     width: auto;
      float: right;
      height: 640px;
      width:480px;
      background-attachment: fixed;
      display: flex;
      border-bottom-right-radius: 15px;
  }

.profile{
  margin: auto;
  padding: 35px;
  position: relative;
  top: -8em;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50em;
  height: 560px;
  background-color: rgb(21, 21, 21);
  border-radius: 20px;
}
  .prof{
    margin: auto;
  
  position: relative;
  top: 2em;
  bottom: 0;
  left: 1em;
  right: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .skil-div{
      background-color: #ffffff;
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      padding: 30px;
      

  }
.prot{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  margin: auto;
  letter-spacing: 5px;
  position: absolute;
  top: 2.5em;
  bottom: 0;
  left: 7em;
  right:0;
}
.us{
  color: bisque;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  margin: auto;
  letter-spacing: 15px;
  position: absolute;
  top: 13em;
  bottom: 0;
  left: 23.5em;
  right:0;
  opacity: 65%;
}
  @keyframes opa {
    from{
      opacity: 0;
    }
    to{
      opacity: 100%;
    }
  }

  .skill-bars{
    padding: 25px 30px;
    width: 400px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 2s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 2s cubic-bezier(1,0,0.5,1) forwards ;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 2s 4s cubic-bezier(1,0,0.5,1)  forwards infinite;
  }
  .bar .progress-line.html span{
    width: 70%;
  }
  .bar .progress-line.css span{
    width: 60%;
  }
  .bar .progress-line.jquery span{
    width: 35%;
  }
  .bar .progress-line.python span{
    width: 50%;
  }
  .bar .progress-line.mysql span{
    width: 65%;
  }
  .bar .progress-line.Php span{
    width: 35%;
  }
  .bar .progress-line.Django span{
    width: 45%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "70%";
  }
  .progress-line.css span::after{
    content: "60%";
  }
  .progress-line.jquery span::after{
    content: "35%";
  }
  .progress-line.python span::after{
    content: "50%";
  }
  .progress-line.mysql span::after{
    content: "55%";
  }
  .progress-line.php span::after{
    content: "35%";
  }

  .progress-line.django span::after{
    content: "45%";
  }



  

.text{
    color: #53B8BB;
    
}
 .sl{
     margin-top: -25em;
     text-align: center;
 }





 .dy{
   text-align: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: large;
   margin-top: 1em;
   top: 5em;
   color: yellow;
   margin-bottom: 2em;
   
 }
 .stat{
   text-align: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bolder;
   font-size: 100px;
   color: wheat;
   
 }
.s{
  width: 10em;
  height: 55px;
  background-color: rgb(38, 38, 38) ;
  position: relative;
  top: 1.5em;
  bottom: 0;
  left: 5em;
  right: 0;
  border-radius: 10px;
  border: none;
  color: white;
  letter-spacing: 2px;
}



#s{

  position: relative;
  top: -2em;
  bottom: 0;
  left: 1.5em;
  right: 0;
}



 .fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 50px;
  background-color: rgb(38, 38, 38);
  
  border-radius: 30%;
  color: white;
  transition: transform .2s;
 
  
 

  position: relative;
  top: -1em;
  bottom: 0;
  left: 0;
  right: 0;
  
  
}


.fa:hover{
      transform: scale(1.5);
      box-shadow: none;
      background: black;
}


form{
  padding: 3em;
  margin-left: 4.5em;
}

label{
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  justify-content: space-around;
}
textarea{
  width: 80%;
  height: 100px;
  border: none; padding: 20px;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
input{
  width: 80%;
  height: 40px;;
  margin-top: 1em;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.btn{
  padding: 10px;
  width: 80%;
  justify-content: space-around;
  border: none;
  background-color: #E05D5D;
  margin-top: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
  background-color: #FFB344;
}



.footer{
  background-color: #444941;
  padding: 40px;
  height: 10%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: #7F7C82;
  font-weight:lighter; letter-spacing: 2px;

}

@media only screen and (min-width: 900px) {
  
  nav{
    display: none;
     
  }
  #mysidenav{
    display: none;
  }
  .hamb{
    display: none;
  }
 
  #preld{
    background: #000 url(id.gif) no-repeat center center;
    background-size: 20%;
    height: 180vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -15em;
    margin-left: -10px;
    animation: ld 10s ease-in;
    animation-delay: 3s;
    
    
  }

  @keyframes ld {
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }
  
 }


@media only screen and (max-width: 900px) {
  #preld{
    background: #000 url(id.gif) no-repeat center center;
    background-size: 30%;
    height: 180vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -15em;
    margin-left: -8px;
    animation: ld 4s ease-in ;
    animation-delay: 3s;
    
  }


  @keyframes ld {
    from{
    
      opacity: 1;
    }
    to{
 
      opacity: 0;
      display:none;
    }
  }
  .m{
    margin: auto;
  
    position: relative;
    top: -8em;
    bottom: 0;
    left: 0;
    right: 0;
    width:800%;
    height: 1000px;
    background-color: rgb(21, 21, 21);
    border-radius: 20px;
  }

  .profile{
    margin: auto;
    padding: 35px;
    position: relative;
    top: 1em;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20em;
    height: 570px;
    background-color: rgb(21, 21, 21);
    border-radius: 20px;
  }
    .prof{
      margin: auto;
    
    position: relative;
    top: -5em;
    bottom: 0;
    left: 3.5em;
    right: 0;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
 
    .prot{
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px;
      margin: auto;
      letter-spacing: 5px;
      position: relative;
      top: 1em;
      bottom: 0;
      left:3.5em;
      right:0;
    }
    .us{
      color: bisque;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 10px;
      margin: auto;
      letter-spacing: 15px;
      position: relative;
      top: 3em;
      bottom: 0;
      left: 3.5em;
      right:0;
      opacity: 65%;
    }
      @keyframes opa {
        from{
          opacity: 0;
        }
        to{
          opacity: 100%;
        }
      }

.navbar{
   display: none;
 }
 

 .txt-area {

  margin-top: 10em;
  margin-left: 0.65em;
  height: 50%;
  width: auto;
  float: rigth;
 

}




 .pic{
  margin-top: -10em;
  
  top: auto;
  
  height: auto;
  width: auto;
   float: right;
   height: 540px;
   width:380px;
   background-attachment: fixed;
   display: flex;
}

.t{
  color: #FFC069;
  margin-top:3em;
  margin-left: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
  font-weight: bold;
  animation-name: t;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
@keyframes t {
  from{
   margin-left: 0px;
  }
  to{
    margin-left: 50px;
  }
}

.title{
  color: #FFC069;
  margin-top: -1em;
  margin-left: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:40px;
  font-weight: bold;
  animation-name: tl;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  
  
  
}

.title:after {
  color: #FD6F96;
  content: "Isaac Dasari";
}

@keyframes tl {
  from{
   margin-left: 0px;
   opacity: 0;
   
  }
  to{
    margin-left: 48px;
    opacity: 100%;
  }
}

.txt{
  color: #F7F6F2;
  margin-top: -1em;
  margin-left: 4em;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:15px;
  font-weight: bold;
  letter-spacing:2px;
  animation: typing 4.5s steps(30, end) infinite, blinking-cursor .5s step-end infinite;
  overflow: hidden;/* Ensures the content is not revealed until the animation */
        border-right: .17em solid pink;/* The typewriter cursor */
        white-space: nowrap;/* Keeps the content on a single line */
}
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 60%
  }
}
/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: black;
  }
}
  



.s{
  width: 10em;
  height: 55px;
  background-color: rgb(38, 38, 38) ;
  position: relative;
  top: 5em;
  bottom: 0;
  left: 2em;
  right: 0;
  border-radius: 10px;
  border: none;
  color: white;
  letter-spacing: 2px;
  transition: transform .2s;
}

.s:hover{
  transform: scale(1.1);
      box-shadow: none;
      background: black;
}
#so{
  margin-top: 3em;
}

#s{

  position: relative;
  top: 3em;
  bottom: 0;
  left: 1em;
  right: 0;
}



 .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  background-color: rgb(38, 38, 38);
  
  border-radius: 30%;
  color: white;
  transition: transform .2s;
 
  
 

  position: relative;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  
  
}


.fa:hover{
      transform: scale(1.1);
      box-shadow: none;
      background: black;
}


form{
  padding: 3em;
  margin-left: 4.5em;
}

label{
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  justify-content: space-around;
}
textarea{
  width: 80%;
  height: 100px;
  border: none; padding: 20px;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
input{
  width: 90%;
  height: 40px;;
  margin-top: 1em;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.btn{
  padding: 10px;
  width: 80%;
  justify-content: space-around;
  border: none;
  background-color: #E05D5D;
  margin-top: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
  background-color: #FFB344;
}

}


a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}






.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
iframe{
  height: 0;
  width: 0;
}


.qt{
  background-color: #ffffff;
      position: relative;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(7, 175, 237);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 30%;
}

#myBtn:hover {
  background-color: #555;
}


.waves {
  position:absolute;
  width: 98.8%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}



/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:80px;
    min-height:80px;
    width: 96.6%;
  }
  
}


.g{
margin-top: -30em;
 height: 120%;
  background-color: black; 
 
  background-image: url(R.gif);margin-top: 0em; padding: 10px;background-attachment: fixed; background-position: center;background-size: cover;
    background-size: 100% 100%;
   
    

}



.pi{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: -4em; padding: 10vh;
  
  
}
