



.nav{
    background-color: #ffff;
    border-bottom: solid 1px #345B63;
    position: fixed;
    top: 0;
    width: 100%;
    
   

}


ul{
    
    justify-content: space-around;
}


li{
    list-style: none;
    margin-right: 35px;
}


a{
    text-decoration: none;
}

.name{
 padding: 5px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: bolder;
 font-size: medium;
 color: #420516;
}
.name:hover{
    color: #00A19D;
}

.navbar{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: bold;
    margin: 25px;
    text-align: center;
    color: #5F7A61;  
}
.navbar:hover{
    color: #A45D5D;
}

.mem{
    animation-name: opa;
    animation-duration: 4s;
    height: auto;

}
.t{
    color: black;
    margin-top:3em;
    margin-left: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: bold;
    animation-name: t;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
  @keyframes t {
    from{
     margin-left: 0px;
    }
    to{
      margin-left: 98px;
    }
}

.title{
    color: black;
    margin-top: -1em;
    margin-left: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 95px;
    font-weight: bold;
    animation-name: tl;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    
    
    
}

.title:after {
    color: #f00000;
    content: "Isaac Dasari";
  }

  @keyframes tl {
    from{
     margin-left: 0px;
     opacity: 0;
     
    }
    to{
      margin-left: 95px;
      opacity: 100%;
    }
}

  .txt{
    color: #6E85B2;
    overflow: hidden;
    margin-top: -3.9em;
    margin-left: 4em;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 18.5px;
    animation: typing 3.5s steps(30, end) infinite, blinking-cursor .5s step-end infinite;
    white-space: nowrap;
    border-right: .17em solid pink;/* The typewriter cursor */
  }

  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 60%
    }
  }
  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: pink;
    }
  }
  

  .txt-area{
    margin-top: -6em;
    margin-left: 41.65em;
    height: 50%;
    width: auto;
    float: rigth;
    background-image: linear-gradient(135deg, #EEAD92 10%, #6018DC 100%);
    border-top-left-radius:100%;
  }

  .pic{
     margin-top: -20em;
     position: relative;
     top: auto;
     
     height: auto;
     width: auto;
      float: right;
      height: 640px;
      width:480px;
      background-attachment: fixed;
      display: flex;
  }

  .skil-div{
      background-color: #003638;
      position: relative;
      

  }

  @keyframes opa {
    from{
      opacity: 0;
    }
    to{
      opacity: 100%;
    }
  }




     
  .container {
      margin-top: -5em;
    height: auto;
    padding: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003638;
    flex-wrap: wrap;
  }
  .bar {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    box-shadow: -3px -3px 7px #055052, 3px 3px 5px #082032;
    overflow: hidden;
    margin: 50px;
  }
  .bar:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #055052,
      inset 3px 3px 5px #082032;
  }
  svg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  svg circle {
    position: absolute;
    transform: scale(0.939);
    transform-origin: center;
    fill: none;
    stroke: #055052;
    stroke-width: 30px;
    stroke-dasharray: 630px;
    /* stroke-dashoffset: 630px; */
  }
  .bar:nth-child(1) svg circle {
    animation: bar_1 3s ease forwards infinite;
  }
  .bar:nth-child(2) svg circle {
    animation: bar_2 3s ease forwards infinite;
  }
  .bar:nth-child(3) svg circle {
    animation: bar_3 3s ease forwards infinite;
  }
  .bar:nth-child(4) svg circle {
    animation: bar_4 3s ease forwards infinite;
  }
  


  
  h1 {
    position: absolute;
    font-size: 20px;
    font-family: "Montserrat";
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #53B8BB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* svg circle {
      stroke-dashoffset: calc(950 - (950*10) / 100);
  } */
  @keyframes bar_1 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 70) / 100);
    }
  }
  @keyframes bar_2 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 55) / 100);
    }
  }
  @keyframes bar_3 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 30) / 100);
    }
    
  }
 
  @keyframes bar_4 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 50) / 100);
    }
    
  }

  

.text{
    color: #53B8BB;
    
}
 .sl{
     margin-top: -25em;
     text-align: center;
 }





 .dy{
   text-align: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: large;
   margin-top: 1em;
   top: 5em;
   color: yellow;
   margin-bottom: 2em;
   
 }
 .stat{
   text-align: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bolder;
   font-size: 100px;
   color: wheat;
   
 }





 .fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px 50px;
  
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  7px 7px 14px #929292,
             -7px -7px 14px #ffffff;
  border-radius: 30%;
  color: black;
  transition: transform .2s;
  margin-left: 25px;
  
  
  
}


.fa:hover{
      transform: scale(1.5);
      box-shadow: none;
      background: #ffff;
}


form{
  padding: 3em;
  margin-left: 4.5em;
}

label{
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  justify-content: space-around;
}
textarea{
  width: 80%;
  height: 100px;
  border: none; padding: 20px;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
input{
  width: 80%;
  height: 40px;;
  margin-top: 1em;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.btn{
  padding: 10px;
  width: 80%;
  justify-content: space-around;
  border: none;
  background-color: #E05D5D;
  margin-top: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
  background-color: #FFB344;
}



.footer{
  background-color: #444941;
  padding: 40px;
  height: 10%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: #7F7C82;
  font-weight:lighter; letter-spacing: 2px;

}

@media only screen and (min-width: 900px) {
  
  nav{
    display: none;
     
  }
  #mysidenav{
    display: none;
  }
  .hamb{
    display: none;
  }
 
  #preld{
    background: #000 url(id.gif) no-repeat center center;
    background-size: 20%;
    height: 120vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -15em;
    margin-left: -10px;
    animation: ld 10s ease-in;
    
    
  }

  @keyframes ld {
    from{
      width: 100%;
      opacity: 1;
    }
    to{
      width: -0%;
      opacity: 0;
    }
  }
  
 }


@media only screen and (max-width: 900px) {
  #preld{
    background: #000 url(id.gif) no-repeat center center;
    background-size: 30%;
    height: 120vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -15em;
    margin-left: -8px;
    animation: ld 4s ease-in ;
    
    
  }


  @keyframes ld {
    from{
      width: 100%;
      opacity: 1;
    }
    to{
      width: -0%;
      opacity: 0;
      display:none;
    }
  }
  
 .navbar{
   display: none;
 }
 .txt-area{
  margin-top: 10em;
  margin-left: 0.65em;
  height: 50%;
  width: auto;
  float: rigth;
  background-image: linear-gradient(135deg, #EEAD92 10%, #6018DC 100%);
  border-top-left-radius:100%;
 }
 .pic{
  margin-top: -10em;
  
  top: auto;
  
  height: auto;
  width: auto;
   float: right;
   height: 540px;
   width:380px;
   background-attachment: fixed;
   display: flex;
}

.t{
  color: black;
  margin-top:3em;
  margin-left: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
  font-weight: bold;
  animation-name: t;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
@keyframes t {
  from{
   margin-left: 0px;
  }
  to{
    margin-left: 50px;
  }
}

.title{
  color: black;
  margin-top: -1em;
  margin-left: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:40px;
  font-weight: bold;
  animation-name: tl;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  
  
  
}

.title:after {
  color: #f00000;
  content: "Isaac Dasari";
}

@keyframes tl {
  from{
   margin-left: 0px;
   opacity: 0;
   
  }
  to{
    margin-left: 48px;
    opacity: 100%;
  }
}

.txt{
  color: #6E85B2;
  margin-top: -1em;
  margin-left: 4em;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:15px;
  font-weight: bold;
  letter-spacing:2px;
  animation: typing 4.5s steps(30, end) infinite, blinking-cursor .5s step-end infinite;
  overflow: hidden;/* Ensures the content is not revealed until the animation */
        border-right: .17em solid pink;/* The typewriter cursor */
        white-space: nowrap;/* Keeps the content on a single line */
}
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 60%
  }
}
/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: black;
  }
}
  


.fa {
  padding: 15px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px 30px;
  
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  7px 7px 14px #929292,
             -7px -7px 14px #ffffff;
  border-radius: 30%;
  color: black;
  transition: transform .2s;
  margin-left: 17px;
  
  
  
}


.fa:hover{
      transform: scale(1.5);
      box-shadow: none;
      background: #ffff;
}



form{
  padding: 3em;
  margin-left: 4.5em;
}

label{
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  justify-content: space-around;
}
textarea{
  width: 80%;
  height: 100px;
  border: none; padding: 20px;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
input{
  width: 80%;
  height: 40px;;
  margin-top: 1em;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.btn{
  padding: 10px;
  width: 80%;
  justify-content: space-around;
  border: none;
  background-color: #E05D5D;
  margin-top: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
  background-color: #FFB344;
}

}


a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}






.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
iframe{
  height: 0;
  width: 0;
}
